---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/37.3314,-122.0304
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 118b1809
      X-Server-Id:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 35cff379
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/37.3314,-122.0304",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.0304,
                    37.331400000000002
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/37.3314,-122.0304",
                "@type": "wx:Point",
                "cwa": "MTR",
                "forecastOffice": "https://api.weather.gov/offices/MTR",
                "gridId": "MTR",
                "gridX": 94,
                "gridY": 83,
                "forecast": "https://api.weather.gov/gridpoints/MTR/94,83/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/MTR/94,83/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/MTR/94,83",
                "observationStations": "https://api.weather.gov/gridpoints/MTR/94,83/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -122.044956,
                            37.319398
                        ]
                    },
                    "properties": {
                        "city": "Cupertino",
                        "state": "CA",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 1854.0880530816
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 43
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/CAZ513",
                "county": "https://api.weather.gov/zones/county/CAC085",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/CAZ513",
                "timeZone": "America/Los_Angeles",
                "radarStation": "KMUX"
            }
        }
  recorded_at: Sat, 14 Oct 2023 00:30:29 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/MTR/94,83/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 1c801597
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 35cff42f
    body:
      encoding: UTF-8
      string: |-
        {
            "@context[...]
